* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/assets/images/background-image-switz.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.bg-light {
    opacity: 0;
}

.todo-section{
    height: 100%;
    margin-top: 15%;
}

.bg-block {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
}


/* -- Todo List -- */
.todo {
    min-height: 300px;
}

#mainobj {
    border: none;
    border-bottom: white solid 4px;
    background: none;
    width: 70%;
    text-align: center;
}

#mainobj:focus, 
.todo-btn:focus {
    outline:none;
}

.todo-title {
    margin-top: 5%;
}

#todo-input {
    width: 65%;
}

.todo-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
}

.list-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* -- Weather -- */

.weather-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.weather-icon {
    margin-top: 3%;
    font-size: 2.5rem;
}